.zes-tab-page-wrapper {
	padding-top: 2em;
}

.zes-message textarea {
    min-height: 100px;
}

#zes-sender input,
.zes-message textarea,
#zes-sender select {
	width: 100%;
}

.zes-viewer {
	width: 65%;
	display: inline-block;
	vertical-align: top;
}

.zes-viewer h2 {
	margin-top: 0;
}

.zes-email-template {
	background: #fff;
	min-height: 500px;
	border: 1px solid #ddd;
	box-shadow: -5px 5px 15px #ccc;
}

.zes-email-form {
	display: inline-block;
	width: 30%;
	margin-right: 2%;
}

#zes-sender .button {
	margin-top: 1em;
}

#zes-success {
    background: #fff;
    padding: 10px;
    font-weight: 500;
    font-size: 22px;
    border-left: 10px solid green;
    box-shadow: -1px 1px 5px #ccc;
    margin-bottom: 1em;
}